name: Todo App Backend Deploy

on:
  push:
    branches: [main]

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install AWS CDK
        run: sudo npm i -g aws-cdk

      - name: Install Backend Dependencies
        working-directory: ./aws-backend
        run: npm ci

      - name: CDK Synth
        working-directory: ./aws-backend
        run: cdk synth

      - name: CDK Deploy
        working-directory: ./aws-backend
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
        run: cdk deploy --all --require-approval never